In [44]:
import pandas as pd
import numpy as np
import seaborn as sns 
import matplotlib.pyplot as plt

In [45]:
#data mining

In [70]:
df=pd.read_csv('emp_tree.csv')
df

    Company        Job    Degree  Salary
0   Infosys      Sales  Graduate  <50000
1   Infosys      Sales  PostGrad  >50000
2   Infosys  Developer  Graduate  <50000
3   Infosys  Developer  PostGrad  >50000
4   Infosys    Manager  Graduate  <50000
5   Infosys    Manager  PostGrad  >50000
6     Wipro      Sales  Graduate  <50000
7     Wipro  Developer  Graduate  <50000
8     Wipro  Developer  PostGrad  >50000
9     Wipro    Manager  PostGrad  >50000
10      TCS      Sales  Graduate  <50000
11      TCS      Sales  PostGrad  >50000
12      TCS  Developer  Graduate  <50000
13      TCS  Developer  PostGrad  >50000
14      TCS    Manager  Graduate  <50000
15      TCS    Manager  PostGrad  >50000

In [73]:
x=df.drop('Salary',axis='columns')

In [75]:
y=df['Salary']

In [76]:
from sklearn.preprocessing import LabelEncoder

In [77]:
company=LabelEncoder()
job =LabelEncoder()
degree=LabelEncoder()

In [80]:
x['company1']=company.fit_transform(x['Company'])

In [82]:
x['job1']=company.fit_transform(x['Job'])

In [83]:
x['degree1']=company.fit_transform(x['Degree'])

In [84]:
x.head(5)

   Company        Job    Degree  company1  degree1  job1
0  Infosys      Sales  Graduate         0        0     2
1  Infosys      Sales  PostGrad         0        1     2
2  Infosys  Developer  Graduate         0        0     0
3  Infosys  Developer  PostGrad         0        1     0
4  Infosys    Manager  Graduate         0        0     1

In [85]:
y.head(4)

0    <50000
1    >50000
2    <50000
3    >50000
Name: Salary, dtype: object

In [86]:
y.replace({'<50000':0,'>50000':1},inplace=True)

In [87]:
y

0     0
1     1
2     0
3     1
4     0
5     1
6     0
7     0
8     1
9     1
10    0
11    1
12    0
13    1
14    0
15    1
Name: Salary, dtype: int64

In [89]:
x1=x.drop(['Company','Job','Degree'],axis='columns')

In [90]:
x1.head(3)

   company1  degree1  job1
0         0        0     2
1         0        1     2
2         0        0     0

In [94]:
from  sklearn import tree
model=tree.DecisionTreeClassifier()

In [95]:
model.fit(x1,y)

DecisionTreeClassifier()

In [102]:
model.score(x1,y)

1.0

In [106]:
model.predict([[0,0,0]])

C:\Users\ses-9\AppData\Local\Programs\Python\Python311\Lib\site-packages\sklearn\base.py:465: UserWarning: X does not have valid feature names, but DecisionTreeClassifier was fitted with feature names
  warnings.warn(

array([0], dtype=int64)